body {
    background: #000;
    color: #f0b45a;
    /* font-family: 'Forum', serif; */
    /* font-family: 'Overlock', serif; */
    font-family: 'Averia Serif Libre', serif;
    /* font-family: 'Chelsea Market', serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

canvas {
    background: #1f0905;
    transition: 3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: auto;
    margin-top: 12px;
}

canvas.dark {
    background: #000;
}

.text-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 3s;
    opacity: 1;
}

.text-container.invisible {
    opacity: 0;
}

.overlay-textbox {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    height: auto;
    max-width: 50%;
    margin-left: 24%;
    margin-top: 12%;
}

.option-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    margin-top: 24px;
    padding-left: 8px;
}

.option-list > li {
    background: rgba(238, 153, 85, .1);
    cursor: pointer;
    margin-bottom: 6px;
    min-width: 320px;
    text-align: center;
    padding: 0 24px 0 24px;
}

.option-list > li:hover {
    background: rgba(238, 153, 85, .3);
}


.text-prompt {
    align-items: center;
    background: rgba(238, 153, 85, .1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    margin-top: 24px;
    padding-top: 12px;
}

.text-prompt-keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.text-prompt-keyboard > li {
    background: #000;
    cursor: pointer;
    text-align: center;
    line-height: 200%;
    height: 50px;
    margin: 6px;
    width: 50px;
}

.text-prompt-keyboard > .enter-key {
    width: 75px;
}

.text-prompt-keyboard > li:hover {
    background: rgba(238, 153, 85, .3);
}

.non-display {
    display: none;
}
